body{
    /* box-sizing: border-box; */
    /* margin: 0;
    padding: 0; */
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
.input{
    width: 225px;
    height: 30px;
}
.btn{
    height: 30px;

}
.result_btn{
    display: flex;
}